/*La fenetre*/
body{
	background-color: #ecf0f1;
	color: #000;
	max-width:100%
}

.texte-centre {
	text-align: center;
}

.texte-size2 {
	font-size: small;
}

.button-margin {
	margin:20px;
}
.jumbotron {
	background-color: #fff;
	padding: 0px;

}

.contenu{
	border-radius:2px;
	/*background-color: #fff;*/
	padding: 20px 100px 20px 100px; /*haut , gauche , bas,droite*/
}

thead{
	background-color:#589FAF;
	color:#fff;
	
}
